/*styling the page*/

body {
    background-color: pink;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}
form {
  background-color: white;
  padding: 20px;
  border: 2px dashed #fff;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
  margin-bottom: 10px;
  font-family: 'Fredoka', sans-serif;
}

#upload-btn {
  background-color: pink;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#upload-btn:hover {
  background-color: #ff1493;
}

.file-label {
  background-color: pink;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: #ff1493;
}

button {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
