<!DOCTYPE html>
<html>
    <head>
        <title>Text2Speech!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h1>Welcome to Text2Speech!</h1>
        <h2>Choose a document from your files to start!</h2>
        <form action="{{ url_for('upload_file') }}" method='POST' enctype='multipart/form-data'>
            <div class="button-container">
                <input type='file' id='file' name='file' accept='.txt, .docx' required hidden>
                <label for='file' class='file-label'>Choose a file</label>
                <input type='submit' value='Upload' id="upload-btn">
            </div>

        </form>
        {% if content %}
        <h3>Uploaded Text:</h3>
        <div class="'test_box">{{ content }}</div>

        <h3> Generated Audio:</h3>
        <audio controls autoplay>
            <source src="{{ url_for('static', filename=audio_path) }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}

        <script>
            document.querySelector("form").addEventListener("submit", function(event) {
                const fileInput = document.getElementById("file");
                const file = fileInput.files[0];
                if (!file) {
                    event.preventDefault();
                    alert("Please select a file to upload.");
                }
                const allowedTypes = ["text/plain", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"];
                if (!allowedTypes.includes(file.type)) {
                    event.preventDefault();
                    alert("Please upload a valid .txt or .docx file.");
                }
            });
            
        </script>

       
    </body>
        
</html>